{% extends 'TFTAppBundle::templates/login.html.twig' %}
{% import 'TFTAppBundle::macro/errors.html.twig' as forms %}
{% block title %}Reset your Password{% endblock %}

{% block body -%}

    <div ui-view="" autoscroll="false" class="ng-zoomBackDown ng-fluid ng-scope">
        <div class="block-center mt-xl wd-xl ng-scope">
            {% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="alert alert-info">{{ flashMessage|raw }}</div>
	    {% endfor %}

	    {% for flashMessage in app.session.flashbag.get('error') %}
		<div class="alert alert-danger">{{ flashMessage|raw }}</div>
	    {% endfor %}

	    {% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">{{ flashMessage|raw }}</div>
	    {% endfor %}

	    {% if errors %}
		{{ forms.form(errors) }}
	    {% endif %}
            <div class="panel panel-dark panel-flat">
                <div class="panel-body">
			<p class="text-center pv">Reset Password</p>
		
			{{ form_start(resetPasswordForm) }}
				<div class="form-group has-feedback" id="pwd-container">
					{{ form_widget(resetPasswordForm.password.first,{'attr':{'placeholder':'Enter Password','class':'form-control'}}) }}
					<span class="fa fa-lock form-control-feedback text-muted"></span>
                                        <div class="pwstrength_viewport_progress"></div>
				</div>
				<div class="form-group has-feedback">
					{{ form_widget(resetPasswordForm.password.second,{'attr':{'placeholder':'Repeat Password','class':'form-control'}}) }}
					<span class="fa fa-lock form-control-feedback text-muted"></span>
				</div>
			{{ form_end(resetPasswordForm) }}
                    
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/tftapp/js/pwstrength.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            "use strict";
            var options = passwordValidationOptions;
            $('#tft_appbundle_user_resetpassword_password_first').pwstrength(options);
        });
    </script>
{% endblock %}